body {
	padding: 10px;
  background: #efefef;
}

h1 {
	text-align: center;
}

.container {
	max-width: 960px;
  margin: auto;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px;
  background: #1d1b1b;
  color: #ec4d37;
}

input[type="text"] {
	width: 80%;
	height: 40px;
	border: 2px solid;
    border-radius: 4px;
    box-shadow: 1px 1px 0px;
}

input[type="submit"] {
	height: 47px;
    border: 3px solid;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    left: -8px;
    cursor: pointer;
}

input[type="submit"]:focus { 
	outline-style: none;
}

input[type="submit"]:hover {
	background-color: #777;
	border: 3px solid black;
	color: #fff;
}

.result-container {
	margin: 24px 0px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	min-height: 100px;
	width: 87%;
}

.jsonResult {
	background: #ededed;
  word-break: break-word;
}

@media screen and (max-width: 560px) {
	input[type="text"] {
		width: 70%;
	}
}