body {
	padding: 10px;
	border: 4px solid #333;
	box-shadow: 0px 0px 3px;
}

h1 {
	text-align: center;
}

input[type="text"] {
	width: 50%;
	height: 40px;
	border: 2px solid;
    border-radius: 4px;
}

input[type="submit"] {
	height: 46px;
    border: 4px solid;
    border-radius: 4px;
}